/**{outline: 1px solid blue}*/
body{
	font-family: font-family: 'Dosis', sans-serif;
}
h1,h2,h3,h5,h6{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-bottom: 15px;
}
.btn{
	margin: 10px;
}
i{
	color:#c2e9fd;
	font-size: 50px;
}
/*EMPIEZA HEADER*/
header{
	background: url(../img/background/hero.jpg);
	background-attachment: fixed;
	height: 700px;
	background-size: cover;
	background-position:top;
	color:#fff;
}
.capa{
	background:rgba(0,0,0,0.5);
	height: 100%;
}
.menu ul{
	margin-top:20px;
}
.menu ul li a{
	color:#fff;
	padding: 10px;
	text-decoration: none;
}
.menu ul li a:hover{
	color:#c2e9fd;
}
.texto{
	margin-top: 150px;
}
/*INICIO SERVICIOS*/
.servicios{
	text-align: center;
}
.serv{
	padding: 5%;
}
.service{
	margin: 2% 0;
}
/*INICIO DE TELEVISOR (TV)! */
.tv{
	background:#dee1e8;
	height: 30%;
}
.tv img{
	width: 80%;
	margin: 0 auto;
}
/*PORTAFOLIO*/
.portafolio{
	text-align: center;
	background:#dee1e8;
}
.portafolio .menu-line a{
	padding: 1%;
	color:#000;
	background: #fff;
	text-decoration: none;
}
.portafolio .menu-line a:hover{
	padding: 1%;
	color:#fff;
	background: #c2e9fd;
}
.portafolio .lista{
	margin: 2% 0;
	background: #fff;
	border: 1em  solid #fff;
}
.portafolio img{
	width: 100%;
}
/*INICIO DE DESCRIPCION*/
.descripcion{
	padding: 5%;
}
.descripcion .icon{
	padding-right:2%;
}
.descripcion .icon i{
	font-size: 35px;
}
.descripcion .text{
	padding-left:12%;
}

/*frase*/
/*.frase {height: 350px; background: #111;}*/
.frase {height: 350px; background-image: url(../img/background/city.jpg); background-size: cover;   background-position: 0em -3em;}
.frase p{margin-top: 5em; padding: .5em 2em 1em;}
/*paquetes*/
.tipos-pack li{width: 250px;  display: inline-block; padding: 1em 1em 2em; margin: .5em 1em;}
.tipos-pack p:first-of-type{padding: 2em 0; margin-top: -10px;}
.tipos-pack h3{padding: 1em 0;}
/*customer*/
.customer img{width: 150px; border-radius: 100px; margin: 1em;}
.customer p{padding: 1em 5em;}
.customer span{font-weight: bold;}
/*contacto*/
.redes{color: #4C4C56;}
/*.capa2 {	background: #111;opacity: .7; margin: 0 -1em;}*/
.contacto{background-image: url(../img/background/contactus.jpg); background-size: cover;}
.contacto a{text-decoration: none; padding: 10px 15px; }
.ubicacion{font-size: 20px;}
.redes i{width: 50px;}
.pie{padding: 1em;}
.boton-trans{padding: 10px 15px; text-decoration: none; background: transparent;}
.boton{padding: 15px 25px; text-decoration: none; margin-top: 2em;}
.boton:hover{color: #fff; text-decoration: none;}

@media (max-width: 420px) and (max-width: 411px) and (max-width: 360px){
	header{height: 500px;}
	.menu{float: left;}
	.menu ul{margin: 0px;}
	.menu ul li a{padding: 0px;}
	.descripcion .icon i{font-size: 25px;}
}